body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#about ul {
    list-style: url("images/ticks (1).png");
    display: inline-block;
    margin-top: 1rem;
}

#about button:hover {
    color: #fff;
}

footer i {
    font-size: 2rem;
}

.hero-img {
    animation: animate 1.25s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    animation-timing-function: linear;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0.4rem);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-0.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

ul {
    list-style-type: none;
}

.social-icons li{
    transition: transform 200ms ease-in-out;
}

.social-icons li:hover {
    color: #0dcaf0;
    cursor: pointer;
    transform: scale(1.1);
}

footer li:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer li:hover h5 {
    text-decoration: none;
}

.newsletter {
    z-index: 1;
    bottom: -5rem;
}

@media screen and (max-width: 991px) {
    .newsletter {
        bottom: -7rem;
    }
}

@media screen and (max-width: 767px) {
    .newsletter {
        bottom: -9.5rem;
    }
}
